# Flutter/Dart
.dart_tool/
.packages
build/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# iOS
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/

# macOS
macos/Flutter/ephemeral/
macos/Pods/

# Android
**/android/**/gradle-wrapper.jar
.gradle/
**/android/captures/
**/android/local.properties

# Node
node_modules/

# Misc
*.swp
.DS_Store
